body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 4000px;
}
.clearfix::after,
.clearfix::before {
  display: table;
  content: "";
}
.clearfix::after {
  clear: both;
}
* {
  box-sizing: border-box;
}