@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 4000px; }

.clearfix::after,
.clearfix::before {
  display: table;
  content: ""; }

.clearfix::after {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

#topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  border: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 62px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  #topnav .container {
    padding: 0 15px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      #topnav .container {
        width: 755px; } }
    @media (min-width: 992px) {
      #topnav .container {
        width: 1090px; } }
    #topnav .container .logo {
      padding: 11px 0;
      float: left;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      #topnav .container .logo a {
        text-decoration: none;
        color: #ebc3a2;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 2px; }
    #topnav .container .menu {
      float: right; }
      @media (min-width: 992px) {
        #topnav .container .menu {
          display: none; } }
      #topnav .container .menu .menu-item {
        float: left; }
        #topnav .container .menu .menu-item .navtoggle {
          position: relative;
          width: 60px;
          height: 62px;
          padding: 0;
          border: 0;
          cursor: pointer;
          float: right;
          -webkit-border-radius: 4px;
          border-radius: 4px; }
          #topnav .container .menu .menu-item .navtoggle .lines {
            width: 25px;
            display: block;
            position: relative;
            margin: 24px auto;
            height: 18px; }
            #topnav .container .menu .menu-item .navtoggle .lines span {
              background-color: #191b1d;
              height: 1px;
              width: 100%;
              display: block;
              margin-bottom: 5px;
              -webkit-transition: -webkit-transform .5s  ease-in-out;
              transition: -webkit-transform .5s  ease-in-out;
              -o-transition: transform .5s  ease-in-out;
              transition: transform .5s  ease-in-out;
              transition: transform .5s  ease-in-out, -webkit-transform .5s  ease-in-out; }
          #topnav .container .menu .menu-item .navtoggle.open span {
            position: absolute; }
          #topnav .container .menu .menu-item .navtoggle.open span:first-child {
            top: 6px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
          #topnav .container .menu .menu-item .navtoggle.open span:nth-child(2) {
            visibility: hidden; }
          #topnav .container .menu .menu-item .navtoggle.open span:nth-child(3) {
            width: 100%;
            top: 6px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
    #topnav .container .navigation {
      display: none; }
      @media (min-width: 992px) {
        #topnav .container .navigation {
          display: block !important; } }
      #topnav .container .navigation .table_menu {
        padding-top: 20px; }
        #topnav .container .navigation .table_menu .navigation_menu {
          float: right;
          list-style: none;
          margin: 0;
          padding: 0; }
          #topnav .container .navigation .table_menu .navigation_menu li {
            float: left;
            display: block;
            position: relative; }
            #topnav .container .navigation .table_menu .navigation_menu li a {
              position: relative;
              font-size: 14px;
              padding: 10px 0;
              margin: 0 20px;
              color: #797878;
              text-shadow: none;
              text-decoration: none;
              font-weight: 500;
              line-height: 20px;
              text-transform: uppercase; }
              #topnav .container .navigation .table_menu .navigation_menu li a::before {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                padding: 7px 0;
                max-width: 0;
                border-bottom: 2px solid #ebc3a2;
                color: #ebc3a2;
                content: attr(data-hover);
                -webkit-transition: max-width 0.5s;
                -o-transition: max-width 0.5s;
                transition: max-width 0.5s; }
              #topnav .container .navigation .table_menu .navigation_menu li a:hover::before {
                max-width: 100%; }
      @media (max-width: 991px) {
        #topnav .container .navigation.active {
          display: block !important;
          position: absolute;
          top: 62px;
          left: 0;
          width: 100%;
          height: auto;
          padding-bottom: 0;
          overflow: hidden;
          border-top: 1px solid #e7e7e7;
          border-bottom: 1px solid #e7e7e7;
          background-color: #fff; }
          #topnav .container .navigation.active .navigation_menu {
            -webkit-perspective: 1000px;
            perspective: 1000px; } }
    @media (max-width: 991px) and (max-width: 991px) {
      #topnav .container .navigation.active .navigation_menu {
        float: left;
        max-height: 400px; } }
      @media (max-width: 991px) {
            #topnav .container .navigation.active .navigation_menu li {
              opacity: 0;
              -webkit-transform-origin: top center;
              -ms-transform-origin: top center;
              transform-origin: top center; }
              #topnav .container .navigation.active .navigation_menu li:nth-child(1) {
                -webkit-animation-name: menu1;
                animation-name: menu1;
                -webkit-animation-duration: 300ms;
                animation-duration: 300ms;
                -webkit-animation-delay: -150ms;
                animation-delay: -150ms;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
        @-webkit-keyframes menu1 {
          0% {
            opacity: 0;
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
          100% {
            opacity: 1;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }
        @keyframes menu1 {
          0% {
            opacity: 0;
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
          100% {
            opacity: 1;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }
              #topnav .container .navigation.active .navigation_menu li:nth-child(2) {
                -webkit-animation-name: menu1;
                animation-name: menu1;
                -webkit-animation-duration: 300ms;
                animation-duration: 300ms;
                -webkit-animation-delay: 0ms;
                animation-delay: 0ms;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
        @keyframes menu1 {
          0% {
            opacity: 0;
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
          100% {
            opacity: 1;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }
              #topnav .container .navigation.active .navigation_menu li:nth-child(3) {
                -webkit-animation-name: menu1;
                animation-name: menu1;
                -webkit-animation-duration: 300ms;
                animation-duration: 300ms;
                -webkit-animation-delay: 150ms;
                animation-delay: 150ms;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
        @keyframes menu1 {
          0% {
            opacity: 0;
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
          100% {
            opacity: 1;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }
              #topnav .container .navigation.active .navigation_menu li:nth-child(4) {
                -webkit-animation-name: menu1;
                animation-name: menu1;
                -webkit-animation-duration: 300ms;
                animation-duration: 300ms;
                -webkit-animation-delay: 300ms;
                animation-delay: 300ms;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
        @keyframes menu1 {
          0% {
            opacity: 0;
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
          100% {
            opacity: 1;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }
              #topnav .container .navigation.active .navigation_menu li:nth-child(5) {
                -webkit-animation-name: menu1;
                animation-name: menu1;
                -webkit-animation-duration: 300ms;
                animation-duration: 300ms;
                -webkit-animation-delay: 450ms;
                animation-delay: 450ms;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
        @keyframes menu1 {
          0% {
            opacity: 0;
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
          100% {
            opacity: 1;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }
              #topnav .container .navigation.active .navigation_menu li:nth-child(6) {
                -webkit-animation-name: menu1;
                animation-name: menu1;
                -webkit-animation-duration: 300ms;
                animation-duration: 300ms;
                -webkit-animation-delay: 600ms;
                animation-delay: 600ms;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
        @keyframes menu1 {
          0% {
            opacity: 0;
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
          100% {
            opacity: 1;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } } }
      @media (max-width: 991px) and (max-width: 991px) {
        #topnav .container .navigation.active .navigation_menu li {
          float: none;
          padding: 15px; } }

.main_intro {
  padding-top: 170px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8; }
  @media (max-width: 550px) {
    .main_intro {
      padding-top: 100px;
      padding-bottom: 40px; } }
  @media (min-width: 768px) {
    .main_intro .container {
      width: 750px;
      margin: 0 auto; } }
  @media (min-width: 992px) {
    .main_intro .container {
      width: 970px;
      margin: 0 auto; } }
  .main_intro .container .row {
    margin-right: -15px;
    margin-left: -15px; }
    .main_intro .container .row .content_iner {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 25px;
      position: relative;
      z-index: 10; }
      .main_intro .container .row .content_iner h2 {
        margin-top: 0;
        font-weight: 300;
        font-size: 58px; }
        .main_intro .container .row .content_iner h2 span::before {
          content: ".";
          color: #ebc3a2; }
        @media (max-width: 600px) {
          .main_intro .container .row .content_iner h2 {
            font-size: 30px; } }
      .main_intro .container .row .content_iner ul {
        font-size: 20px;
        list-style: none;
        padding: 0;
        margin: 25px 0 25px -5px; }
        @media (max-width: 767px) {
          .main_intro .container .row .content_iner ul {
            font-size: 16px; } }
        @media (max-width: 600px) {
          .main_intro .container .row .content_iner ul {
            font-size: 12px; } }
        .main_intro .container .row .content_iner ul li {
          display: inline-block;
          padding-right: 5px;
          padding-left: 5px; }
      .main_intro .container .row .content_iner p {
        font-size: 18px;
        color: #6d747c;
        margin: 25px 0;
        padding-right: 100px;
        padding-left: 100px;
        font-weight: 300; }
      .main_intro .container .row .content_iner .intro_button {
        margin: 25px 0;
        font-weight: 400;
        color: #191b1d;
        border-color: #191b1d;
        background-color: transparent;
        padding: 0 32px;
        height: 55px;
        line-height: 53px;
        -webkit-border-radius: 0;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        .main_intro .container .row .content_iner .intro_button:hover {
          background-color: #000000;
          color: #fff; }
        .main_intro .container .row .content_iner .intro_button svg {
          width: 30px;
          height: 30px;
          position: relative;
          top: 10px;
          left: 10px;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease; }
          .main_intro .container .row .content_iner .intro_button svg path {
            fill: #ebc3a2; }
        .main_intro .container .row .content_iner .intro_button:hover svg {
          -webkit-transform: translateX(5px);
          -ms-transform: translateX(5px);
          transform: translateX(5px); }
          .main_intro .container .row .content_iner .intro_button:hover svg path {
            fill: #fff; }

.about {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8; }
  @media (max-width: 767px) {
    .about {
      padding-bottom: 40px; } }
  .about .row {
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .about .row {
        display: block; } }
    .about .row .col-1 {
      width: 50%;
      position: absolute;
      right: -5px;
      top: 0;
      bottom: 0; }
      @media (max-width: 767px) {
        .about .row .col-1 {
          display: block;
          width: 100%;
          position: relative;
          top: -100px; }
          .about .row .col-1 img {
            width: 100%;
            height: 100%; } }
    .about .row .col-2 {
      width: 50%;
      margin-top: -29px;
      margin-bottom: 25px;
      z-index: 10; }
      @media (max-width: 767px) {
        .about .row .col-2 {
          display: block;
          width: 100%; } }
      .about .row .col-2 .title {
        padding: 50px 50px 0 50px; }
        @media (max-width: 550px) {
          .about .row .col-2 .title {
            padding: 0 50px 0 50px; } }
        .about .row .col-2 .title h4 {
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: uppercase;
          margin-bottom: 10px; }
        .about .row .col-2 .title h3 {
          font-size: 48px;
          font-weight: 700;
          margin: 0; }
          .about .row .col-2 .title h3 span::before {
            content: ".";
            color: #ebc3a2; }
          @media (max-width: 992px) {
            .about .row .col-2 .title h3 {
              font-size: 40px; } }
        .about .row .col-2 .title hr {
          border: 0;
          border-top: 1px solid #191b1d;
          width: 45px; }
      .about .row .col-2 p {
        font-size: 21px;
        color: #6d747c;
        padding-left: 50px; }
        @media (max-width: 600px) {
          .about .row .col-2 p {
            font-size: 17px;
            padding: 0 20px;
            text-align: center; } }

.c_soon {
  position: relative;
  top: -30px;
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8; }
  .c_soon .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .c_soon .row {
        display: block; } }
    .c_soon .row .img-hold {
      width: 50%; }
      @media (max-width: 767px) {
        .c_soon .row .img-hold {
          width: 100%; } }
      .c_soon .row .img-hold img {
        width: 100%;
        height: 100%; }
    .c_soon .row .content {
      padding: 150px 100px 100px 50px;
      width: 50%;
      position: relative; }
      @media (max-width: 767px) {
        .c_soon .row .content {
          width: 100%; } }
      @media (max-width: 600px) {
        .c_soon .row .content {
          padding: 50px 100px 50px 50px; } }
      .c_soon .row .content h4 {
        font-weight: 300;
        font-size: 20px;
        text-align: left;
        margin: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .c_soon .row .content h4 hr {
          border: none;
          width: 250px;
          border-top: 1px solid #000;
          margin: 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin-top: 12px;
          margin-left: 20px;
          margin-right: 15vw; }
      .c_soon .row .content h1 {
        color: rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        font-size: 50px;
        letter-spacing: 1px;
        margin: 0; }
        @media (max-width: 767px) {
          .c_soon .row .content h1 {
            font-size: 40px; } }
      .c_soon .row .content span {
        font-size: 30px;
        color: #ddd;
        letter-spacing: 5px;
        text-transform: uppercase; }
        @media (max-width: 767px) {
          .c_soon .row .content span {
            font-size: 20px; } }
      .c_soon .row .content p {
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 20px 50px 0 0px; }
      .c_soon .row .content .link a {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000000;
        margin-top: -20px;
        position: relative; }
        .c_soon .row .content .link a svg {
          width: 40px;
          height: 40px;
          position: absolute;
          right: -50px;
          top: -12px;
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
          .c_soon .row .content .link a svg path {
            fill: #ebc3a2; }

.main_mod {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  z-index: 10;
  border-bottom: 1px solid #e8e8e8; }
  @media (max-width: 600px) {
    .main_mod {
      padding-top: 0px;
      padding-bottom: 0; } }
  .main_mod .container {
    padding-right: 15px;
    padding-left: 15px; }
    @media (min-width: 768px) {
      .main_mod .container {
        width: 750px;
        margin: 0 auto; } }
    @media (min-width: 992px) {
      .main_mod .container {
        width: 970px;
        margin: 0 auto; } }
    .main_mod .container .title {
      text-align: center;
      margin: 0 auto; }
      .main_mod .container .title h5 {
        font-size: 18px;
        width: 100px;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;
        letter-spacing: 2px;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin: 0 0 10px 0; }
        .main_mod .container .title h5::before {
          content: "";
          position: absolute;
          bottom: 13px;
          right: -75px;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.5);
          width: 95px; }
        .main_mod .container .title h5::after {
          content: "";
          position: absolute;
          bottom: 13px;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.5);
          width: 95px;
          left: -75px; }
      .main_mod .container .title h3 {
        font-size: 40px;
        text-transform: uppercase;
        margin: 0; }
        .main_mod .container .title h3 span::before {
          content: ".";
          color: #ebc3a2; }
      .main_mod .container .title .black_line {
        border: none;
        border-color: #191b1d;
        margin: 30px auto;
        width: 45px; }
    .main_mod .container .row {
      padding: 25px 0; }
      .main_mod .container .row ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden; }
        @media (max-width: 991px) {
          .main_mod .container .row ul {
            display: block; } }
        @media (max-width: 767px) {
          .main_mod .container .row ul {
            display: block; } }
        .main_mod .container .row ul li {
          width: 33.3333%;
          float: left;
          padding: 0 0 20px 20px;
          position: relative; }
          @media (max-width: 991px) {
            .main_mod .container .row ul li {
              width: 50%;
              float: left; } }
          @media (max-width: 767px) {
            .main_mod .container .row ul li {
              width: 100%; } }
          .main_mod .container .row ul li svg {
            width: 23px;
            height: 23px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transform: translate(-50% -50%);
            -ms-transform: translate(-50% -50%);
            transform: translate(-50% -50%);
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
          .main_mod .container .row ul li:hover svg {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2); }
          .main_mod .container .row ul li a img {
            width: 100%;
            height: auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
            .main_mod .container .row ul li a img:hover {
              opacity: 0.3; }

.main_contact {
  position: relative;
  z-index: 10;
  border-bottom: 2px solid #e8e8e8;
  overflow: hidden;
  background-color: #f5f5f5; }
  .main_contact .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 767px) {
      .main_contact .row {
        display: block; } }
    .main_contact .row .col-1 {
      padding: 0px;
      width: 45%; }
      @media (max-width: 767px) {
        .main_contact .row .col-1 {
          width: 100%; } }
      .main_contact .row .col-1 .image-holder {
        height: 100%; }
        .main_contact .row .col-1 .image-holder img {
          -webkit-background-size: cover;
          background-size: cover;
          background-position: center center;
          width: 100%;
          height: 100%;
          margin-bottom: -12px; }
    .main_contact .row .col-2 {
      width: 45%;
      margin-right: 50px; }
      @media (max-width: 767px) {
        .main_contact .row .col-2 {
          width: 100%;
          padding-left: 100px;
          padding-right: 100px; } }
      .main_contact .row .col-2 .col-2-row .title {
        margin-top: 100px;
        margin-bottom: 25px;
        position: relative;
        z-index: 10; }
        .main_contact .row .col-2 .col-2-row .title h4 {
          font-size: 18px;
          margin-bottom: 20px;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: uppercase; }
          @media (max-width: 600px) {
            .main_contact .row .col-2 .col-2-row .title h4 {
              font-size: 15px; } }
        .main_contact .row .col-2 .col-2-row .title h3 {
          margin-top: 0;
          font-weight: 300;
          font-size: 48px;
          margin-bottom: 0; }
          @media (max-width: 600px) {
            .main_contact .row .col-2 .col-2-row .title h3 {
              font-size: 25px; } }
          .main_contact .row .col-2 .col-2-row .title h3 span::before {
            content: ".";
            color: #ebc3a2; }
        .main_contact .row .col-2 .col-2-row .title .black {
          width: 55px;
          border: none;
          border-top: 1px solid #000; }
          @media (max-width: 600px) {
            .main_contact .row .col-2 .col-2-row .title .black {
              width: 40px; } }
      .main_contact .row .col-2 .col-2-row .contact-form input {
        padding: 18px 24px;
        height: 55px;
        -webkit-border-radius: 0;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        display: block;
        width: 100%;
        margin-bottom: 20px;
        outline: none;
        border: none;
        border-bottom: 1px solid #e7e7e7; }
        .main_contact .row .col-2 .col-2-row .contact-form input:focus {
          border-bottom: 1px solid #ebc3a2; }
      .main_contact .row .col-2 .col-2-row .contact-form textarea {
        padding: 18px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #e7e7e7;
        outline: none; }
        .main_contact .row .col-2 .col-2-row .contact-form textarea:focus {
          border-bottom: 1px solid #ebc3a2; }
      .main_contact .row .col-2 .col-2-row .contact-form .button-wrapper {
        padding-top: 20px;
        padding-bottom: 20px; }
        @media (max-width: 767px) {
          .main_contact .row .col-2 .col-2-row .contact-form .button-wrapper {
            text-align: center; } }
        .main_contact .row .col-2 .col-2-row .contact-form .button-wrapper button {
          background-color: transparent;
          padding: 5px 30px;
          border: none;
          border: 2px solid #ebc3a2;
          font-weight: 300;
          font-style: italic;
          font-size: 15px;
          -webkit-border-radius: 20px;
          border-radius: 20px; }

.main-footer footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto; }
  .main-footer footer .icon {
    padding-top: 40px; }
    .main-footer footer .icon a {
      text-decoration: none;
      padding: 15px; }
      .main-footer footer .icon a svg {
        width: 25px;
        height: 25px; }
  .main-footer footer nav {
    margin: 10px 0; }
    .main-footer footer nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none; }
      .main-footer footer nav ul li {
        margin-left: 10px; }
        .main-footer footer nav ul li a {
          text-decoration: none;
          font-weight: 400;
          text-transform: uppercase;
          font-style: italic;
          color: rgba(0, 0, 0, 0.6);
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          .main-footer footer nav ul li a:hover {
            color: #000; }
  .main-footer footer .copy {
    font-size: 13px;
    text-transform: uppercase; }
